body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.image-grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; /* Adjust the gap between images */
}

.image-grid img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin: auto;
}

.Title-Area {
  text-align: center;
}
