body {
  display: flex;
  justify-content: center;
  background-color: #000;
  align-items: center;
  height: auto;
  margin: 0;
  color: #fff;
  font-family: Arial, sans-serif;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px; /* Adjust the gap between images */
}

.image-grid img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.Title-Area {
  text-align: center;
}
